@using Microsoft.AspNetCore.Mvc
@model SSUMAP.Models.Data.Spot[]

@{
    ViewData["Title"] = "관리자 페이지 - 장소 리스트";
}
<script type="text/javascript" src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="https://use.fontawesome.com/4eb14ac705.js"></script>
<script type="text/javascript" src="https://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>

<script type="text/javascript">
    $(window).on("load", function() {
        decodeURI(document.getElementById("td-name").textContent)
    }
</script>

<div class="container">
    <h1>장소 리스트</h1>
    <p class="text-warning">
        SSUMAP 장소 데이터 리스트 정보입니다.
    </p>

    <a href="@Url.Action("Create", "Home")" class="btn btn-sm btn-success">새 장소 추가</a>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>장소 이름</th>
            <th>카테고리 인덱스</th>
            <th>위도</th>
            <th>경도</th>
            <th>동작</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td id="td-name">@item.Name</td>
                <td>@item.CategoryIndex</td>
                <td>@item.Latitude</td>
                <td>@item.Longitude</td>
                <td>
                    <a href="@Url.Action("ModifySpot", "Home", new {id = item.Id})" class="btn btn-sm btn-warning">수정</a>
                    <a href="@Url.Action("DeleteSpot", "Home", new {id = item.Id})" class="btn btn-sm btn-danger">삭제</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
    @{
        var offset = -2;
        int currentPage = 0;
        Int32.TryParse(Context.Request.Query["page"], out currentPage);
    }
    <div class="text-center">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                @if (currentPage + offset - 1 >= 0)
                {
                    <li>
                        <a href="?page=@(currentPage + offset - 1)" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                }
                @for (var i = 0; i < 5; i++)
                {
                    if (currentPage + offset < 0)
                    {
                        offset++;
                        i--;
                        continue;
                    }
                    <li><a href="?page=@(currentPage + offset)">@(currentPage + offset + 1)</a></li>
                    offset++;
                }
                <li>
                    <a href="?page=@(currentPage + offset)" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<style>
    td {
        vertical-align: middle !important;
    }
</style>